<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1><a href="{% url 'api' %}">API</a></h1>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'team' %}">Team</a></li>
            <li><a href="{% url 'docs' %}">Docs</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </nav>
</body>
</html>
