@font-face {
    font-family: fontA;
    src: local("Y 너만을 비춤체"),
    url(/fonts/Y너만을비춤체.ttf);
  }
  
  .termsContainer {
    font-family: fontA, sans-serif;
    background-image: url(/images/home/background.png);  
    color: white;  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    padding: 20px;
    text-align: left;
    margin: 20px auto;
    width: 80%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
  
  .heading {
    font-size: 2.5em;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .text {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: left;
    color: #ccc;
  }
  