.container {
  font-family: fontA, sans-serif;
  background-position: top;
  background-size: cover;
  background: #d9d9d9;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.main {
  display: grid;    
  min-height: 100vh;
  height: 100%;
  text-align: center;
  margin: 0 200px 0 200px;
  justify-content: center;
  align-content: space-evenly;

}

.main h1 {
  font-size: 48px;
  margin: 10px;
}

.main p {
  font-size: 20px;
  margin: 10px;
}

.plansContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  flex-direction: row;
  align-items: stretch;
}

.planCard {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.planCard h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.planCard p {
  font-size: 1em;
  margin-bottom: 10px;
}

.option {
  margin-top: 10px;
}

.option p {
  margin-bottom: 10px;
}

.button {
  background: #0070f3;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #005bb5;
}
