.container {
  font-family: fontA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #f0f0f0;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupBox {
  background: white;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.signupBox p, .checkboxContainer span,
.signupBox a{
  font-size: 20px;
}

.signupBox h1 {
  font-weight: normal;
}

.signupBox label {
  display: flex;
  align-items: center;
}

.allcheck {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoContainer {
  margin-bottom: 20px;
}

.progress {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.progressBar {
  width: 50px;
  height: 20px;
  background: #ccc;
  margin-left: 10px;
  border-radius: 30px;
}

.progressFilled {
  width: 50%;
  height: 100%;
  background: #666;
  border-radius: 30px;
}

.checkboxContainer {
  text-align: left;
  margin: 0 50px;
}

.checkboxContainer p {
  font-size: 1em;
  color: #555;
}

.checkboxContainer input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.checkboxContainer input[type="checkbox"]:checked {
  background-color: #ccc;
}

.checkboxContainer input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.termsList {
  margin-top: 20px;
}

.termsList label {
  display: flex;
  margin-bottom: 10px;
}

.termsList a {
  text-decoration: none;
  color: #000;
}

.signupButton {
  font-family: fontA;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  background-color: #d9d9d9;
  color: #000;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.signupButton:hover {
  background-color: #444;
}
